.header {
  left: 0;
  right: 0;
  position: fixed;
  z-index: 30;
  top: 0;
  padding: 16px 0 0;
  transition: all 0.3s 0.05s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  background: var(--bg-g);

  &.sticky {
    @include for-tablet {
      transition: transform 0.3s ease-in-out;
    }

    @include tablet {
      transform: translate(0) !important;
      box-shadow: 0 4px 22px 0 rgba(6, 8, 17, 0.11);
      background: var(--bg-c);
    }

    &.scroll-up {
      transform: translateY(-110%);
    }

    &.return-to-place {
      box-shadow: 0 4px 22px 0 rgba(87, 224, 108, 0.16);
      background: var(--bg-c);
      transform: translateY(0);

      .header__nav {
        @include for-tablet {
          opacity: 0;
          visibility: hidden;
          height: 0;
        }
      }

      .lang-box {
        background: rgba(42, 42, 61, 0.38);
      }

      @include for-tablet {
        padding: 16px 0 4px;
        transition: transform 0.5s ease-in-out;
      }
    }
  }

  &.open-menu {
    transition: background 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    background: var(--bg-c);
  }

  @include for-tablet {
    padding: 16px 0 0;
  }

  @include tablet {
    padding: 14px 0;
  }

  &__box {
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
    z-index: 2;
    align-items: center;
    gap: 12px;
  }

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;

    @include for-tablet {
      .lang-box {
        margin-right: clamp(8px, 1.3652vw, 16px);
      }
    }

    .search {
      @include for-tablet {
        max-width: 240px;
      }
    }

    .main-btn {
      @include for-tablet {
        max-width: 182px;
      }

      @include tablet {
        grid-column: 1/-1;
      }
    }

    @include tablet {
      display: grid;
      width: 100%;
      grid-template-columns: 1fr auto;
      row-gap: 16px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    z-index: 5;
    width: 100%;
    grid-column: 1/-1;

    ul {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      grid-gap: clamp(5px, 0.694vw, 10px);

      @include for-tablet {
        &:not(.sub-menu) {
          height: 100%;
        }
      }

      li {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        &:before {
          z-index: 2;
          position: absolute;
          width: 100%;
          height: 1px;
          content: "";
          background: var(--bg-d);
          bottom: 0;
          left: 0;
          opacity: 0;
          visibility: hidden;
          transition: all 0.4s;
          pointer-events: none;
        }

        &:after {
          background: var(--gr-b);
          z-index: -1;
          position: absolute;
          content: "";
          inset: 0;
          opacity: 0;
          visibility: hidden;
          transition: all 0.4s;
          pointer-events: none;
        }

        &.current_page_item {
          &:before,
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }

        @include for-tablet {
          height: 100%;
        }

        @include tablet {
          flex-direction: column;
        }
      }

      a,
      .menu-button {
        text-align: center;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        grid-gap: 4px;
        position: relative;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: clamp(13px, 1.111vw, 16px);
        color: var(--cl-a);
        padding: clamp(14px, 1.7065vw, 20px) clamp(10px, 1.389vw, 20px)
          clamp(17px, 1.9625vw, 23px);

        @include for-tablet {
          height: 67px;
        }

        &:hover {
          color: var(--cl-d);
        }
      }
    }
  }

  @include for-tablet {
    .sub-menu[data-content] {
      max-height: initial !important;
      visibility: hidden;
    }
  }

  @include tablet {
    .sub-menu[data-content] {
      padding: 0 16px;
      margin-top: 0;
      border: transparent;
      grid-gap: 20px;

      a {
        padding: 0;
        font-size: 20px;
      }

      li {
        &:first-of-type {
          padding-top: 10px;
        }
      }
    }
  }

  .menu-button {
    @include tablet {
      &.active {
        svg {
          transform: scaleY(-1);
        }
      }
    }

    svg {
      transition: all 0.3s;
      fill: transparent;
      width: 24px;
      height: 24px;
    }
  }

  .menu-item-has-children:hover {
    @include for-tablet {
      .sub-menu {
        opacity: 1;
        visibility: visible !important;
      }

      .menu-button svg {
        fill: transparent;
        transform: scaleY(-1);
      }

      &::after,
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .sub-menu {
    background: var(--bg-c);
    border: solid 1px rgba(62, 62, 77, 0.6);
    flex-direction: column;
    align-items: start;
    gap: 10px;
    white-space: nowrap;
    opacity: 0;
    transition: 0.2s ease-in-out;
    z-index: 10;

    @include for-tablet {
      border-radius: 0 0 16px 16px;
      left: 0px;
      position: absolute;
      top: 100%;
      padding: 15px 20px 18px;
      width: 100%;
    }

    li {
      @include for-tablet {
        width: 100%;
        display: flex;
      }
    }

    a {
      text-align: start;
      padding: 0;
      font-size: clamp(13px, 1.2799vw, 15px);

      @include for-tablet {
        width: 100%;
        height: fit-content;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .burger {
    justify-self: end;
    @include for-tablet {
      display: none;
    }

    @include tablet {
      @include burger;
    }
  }

  .lang-box {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    z-index: 10;
    background: var(--bg-c);
    padding: 11px 12px;
    border-radius: 10px;
    transition: all 0.3s;

    .menu-button {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--cl-a);
      display: flex;
      align-items: center;
      grid-gap: 8px;

      &::before {
        position: absolute;
        height: 40px;
        top: 50%;
        left: 50%;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        transform: translateX(-55%);

        @include for-tablet {
          content: "";
        }
      }

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .sub-menu {
      max-height: initial !important;
      visibility: hidden;
      left: 0px;
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 11px 12px;
      border-radius: 10px;
      top: calc(100% + 5px);
      gap: 0;

      li {
        
        &:last-of-type {
          a {
            margin: 0;
          }
        }

        &:first-of-type{
          padding: 0;
        }
      }

      a {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        display: flex;
        align-items: center;
        grid-gap: 8px;
        margin-bottom: 8px;
        transition: all 0.3s;
        color: var(--cl-a);

        &.disabled {
          display: none;
        }

        &:hover {
          color: var(--cl-d);
        }
      }

      @include tablet {
        border: 1px solid rgba(62, 62, 77, 0.6);
      }
    }

    &:hover {
      .menu-button {
        color: var(--cl-d);

        &::before {
          visibility: visible;
        }
      }

      .sub-menu {
        opacity: 1;
        visibility: visible !important;
      }
    }

    @include tablet {
      background: rgba(42, 42, 61, 0.38);
    }
  }
}
