.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;

  @include mobile{
    aspect-ratio: 1;
  }

  &__image{
    width: 100%;
    height: clamp(130px, 17.0648vw, 200px);
    overflow: hidden;

    img,picture{
      width: 100%;
      height: 100%;
      transition: all .3s;
    }

    @include mobile{
      height: 100%;
    }
  }

  &::after{
    content: attr(data-title);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: clamp(16px, 1.8771vw, 22px);
    line-height: 120%;
    color: var(--cl-a);
    padding: clamp(15px, 1.7065vw, 20px) 10px;
    display:  flex;
    align-items: center;
    justify-content: center;
    background:  var(--bg-c);
  }

  &:hover{
    .about-card__image{
      img,picture{
        transform: scale(1.05);
      }
    }
  }
}
