.how-card{
    background: var(--bg-c);
    border-radius: 16px;
    padding: clamp(16px, 2.7304vw, 32px);
    width: 100%;
    height: 100%;
    display: flex;
    gap: clamp(20px, 2.1331vw, 25px);

    &__image{
        display: flex;
        aspect-ratio: 1;
        width: clamp(61px, 10.3242vw, 121px);
        flex-shrink: 0;
        align-self: center;

        svg,img{
            width: 100%;
            height: 100%;
        }
    }

    .editor{
        h1,h2,h3,h4,h5,h6{
            font-weight: 700;
            font-size: clamp(16px, 1.7065vw, 20px);
            line-height: 120%;
            margin-bottom: 15px;
        }

        p{
            line-height: 150%;
        }
    }
}