<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__top">
        <div class="footer__logo">
          <a href="/" aria-label="logo">
            <svg width="243" height="17">
              <use href='img/sprite/sprite.svg#logo'></use>
            </svg>
          </a>
          <p>Explore, choose, play.</p>
        </div>

        <div class="footer__partner">
          <span class="footer__text">Looking for partnership?</span>
          <a href="email:partners@bestcryptocasino.games" class="footer__link">partners@bestcryptocasino.games</a>
        </div>

        <form class="search">
          <label for="search" class="search__label">
            <input type="text" class="search__input" name="search" id="search" placeholder="Search">
            <button class="search__btn">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#search'></use>
              </svg>
            </button>
          </label>
        </form>

        <button class="main-btn">
          Get in touch
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#icon'></use>
          </svg>
        </button>

      </div>

      <div class="footer__inner">
        <nav class="footer__nav">
          <ul>
            <li>
              <a href="#">BTC Casinos</a>
            </li>
            <li>
              <a href="#">Coin Casinos</a>
            </li>
            <li>
              <a href="#">Dogecoin Casinos</a>
            </li>
            <li>
              <a href="#">Cardano Casinos</a>
            </li>
            <li>
              <a href="#">Ethereum Casinos</a>
            </li>
            <li>
              <a href="#">Ethereum Casinos</a>
            </li>
            <li>
              <a href="#">Ripple Casinos</a>
            </li>
            <li>
              <a href="#">Solana Casinos</a>
            </li>
            <li>
              <a href="#">Bitcoin Cash Casinos</a>
            </li>
            <li>
              <a href="#">Stellar Casinos</a>
            </li>
            <li>
              <a href="#">Tether Casinos</a>
            </li>
            <li>
              <a href="#">Tron Casinos</a>
            </li>
            <li>
              <a href="#">Casinos Litecoin</a>
            </li>
            <li>
              <a href="#">USD Coin Casinos</a>
            </li>
            <li>
              <a href="#">Dash Casinos</a>
            </li>
          </ul>
        </nav>

        <nav class="footer__nav">
          <ul>
            <li>
              <a href="#">Slots</a>
            </li>
            <li>
              <a href="#">Blackjack</a>
            </li>
            <li>
              <a href="#">Poker</a>
            </li>
            <li>
              <a href="#">Dice</a>
            </li>
            <li>
              <a href="#">Roulette</a>
            </li>
            <li>
              <a href="#">Lottery</a>
            </li>
            <li>
              <a href="#">Live Casino Games</a>
            </li>
          </ul>
        </nav>

        <div class="footer__col">
          <nav class="footer__nav">
            <ul>
              <li>
                <a href="#">Bitcoin eSports Betting</a>
              </li>
              <li>
                <a href="#">Casino Bonuses</a>
              </li>
              <li>
                <a href="#">Bitcoin Sports Betting</a>
              </li>
            </ul>
          </nav>

          <nav class="footer__nav">
            <ul>
              <li>
                <a href="#">Casino Reviews</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Slot Reviews</a>
              </li>
              <li>
                <a href="#">About US</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="footer__bottom">
        <span class="footer__info">© 2022 Bestcryptocasino.games.
          All rights reserved.</span>

        <p>This website offers information related to cryptocurrency and gambling. The information you may find here is
          made for the crypto gambling market overview, crypto casino bonus programs, and opportunities for crypto
          users. Use it responsibly and stay safe.</p>

        <div class="footer__icons">
          <span class="footer__icon">
            <svg width='129' height='18'>
              <use href='img/sprite/sprite.svg#1'></use>
            </svg>
          </span>
          <span class="footer__icon">
            <svg width='86' height='25'>
              <use href='img/sprite/sprite.svg#2'></use>
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>