<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="CasinoReview">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CasinoReview</title>
 
  <link rel="preload" href="fonts/Lufga-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Lufga-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Lufga-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Lufga-SemiBold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Poppins-Medium.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Poppins-SemiBold.woff" as="font" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
</head>
