.main-nav{
    display: flex;
    align-items: center;
    gap: 12px;

    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 8px;
        transition: all .4s;
        text-align: center;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        color: var(--cl-a);
        border-radius: 12px;
        width: fit-content;
        height: clamp(38px, 3.5836vw, 42px);
        background: var(--bg-j);
        padding: clamp(10px, 1.0239vw, 12px) clamp(14px, 1.3652vw, 16px);
        border: solid 1px transparent;

        &.active{
            color: var(--cl-a);
            background: rgba(87, 224, 108, 0.2);
            border-color: var(--br-a);
        }

        &:hover{
           color: var(--cl-d);
        }

        &:active{
            color: var(--cl-a);
            background: rgba(87, 224, 108, 0.2);
            border-color: var(--br-a);
        }
    }
}