.about-section {
  margin-bottom: clamp(60px, 7.2526vw, 85px);
  
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(24px, 2.7304vw, 32px);
  }

 
 .about-list{
  @include for-small-tablet{
    padding: 0 clamp(15px, 5.4608vw, 64px);
  }
 } 
 
}
