.crypto-section{
    margin-bottom: clamp(60px, 7.2526vw, 85px);
  
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .crypto-list + .main-btn {
        margin-top: clamp(10px, 1.3652vw, 16px);
        width: fit-content;
        align-self: center;
    }

    
  }
}