.info-section{
    margin-bottom: clamp(60px, 7.2526vw, 85px);
  
    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(24px, 2.7304vw, 32px);
    }

    .main-top{
        .editor{
            h1,h2,h3,h4,h5,h6{
                font-weight: 600;
                font-size: clamp(28px, 3.5836vw, 42px);
                line-height: 120%;
                text-align: center;
            }
        }
    }
}