.rating-section{
    margin-bottom: clamp(60px, 7.2526vw, 85px);

    &__box{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .main-top{
        .editor{
            *{
                text-align: center;
            }

            p{
                font-size: clamp(14px, 1.3652vw, 16px);
            }
        }
    }

}