.deposit-table{
    display: flex;
    flex-direction: column;
    padding: 8px clamp(16px, 3.413vw, 40px);
    background: var(--bg-c);
    border-radius: 16px;
    position: relative;
    z-index: 1;
    width: 100%;

    &__head{
        padding: 0 clamp(16px, 3.413vw, 40px) clamp(12px, 1.3652vw, 16px);
        margin-top: -8px;
        display: grid;
        align-items: center;
        grid-gap: clamp(14px, 1.7065vw, 20px);
        position: relative;
        z-index: 1;

        @include for-tablet{
            grid-template-columns: .62fr .79fr .9fr 82px;
        }

        @include tablet{
            @include for-small-tablet{
                grid-template-columns: .45fr .6fr .9fr 82px;
            }
        }

        @include small-tablet{
            grid-template-columns: .45fr .65fr .75fr;
        }

        @include mobile{
            grid-template-columns: .6fr 1fr;
        }

        &:before{
            background: var(--bg-g);
            position: absolute;
            content: '';
            height: 100%;
            width: calc(100% + (clamp(16px, 3.413vw, 40px) * 2));
            left: 50%;
            transform: translateX(-50%);
            pointer-events: none;
            z-index: -1;
        }

        & + .deposit-table__row{
            border-top: none !important;
            padding-top: calc(8px + clamp(10px, 1.1092vw, 13.5px));
        }

        @include mobile{
            .deposit-table__subtitle{

                &:nth-of-type(2){
                    text-align: end;
                }

                &:nth-child(n+3) {
                    display: none;
                }
            }
        }
    }

    &__row{
        padding: clamp(10px, 1.1092vw, 13.5px) 0;
        display: grid;
        align-items: center;
        grid-gap: clamp(14px, 1.7065vw, 20px);

        &:not(:last-of-type){
            border-bottom: solid 1px rgba(62, 62, 77, 0.6);
        }

        @include for-tablet{
            grid-template-columns: .62fr .79fr .9fr 82px;
        }

        @include tablet{
            @include for-small-tablet{
                grid-template-columns: .45fr .6fr .9fr 82px;
            }
        }

        @include small-tablet{
            grid-template-columns: .45fr .65fr .75fr;
        }

        @include mobile{
            grid-template-columns: .6fr 1fr;
        }
    }

    .main-btn{
        height: 37px;
        padding: 8px 10px;

        @include small-tablet{
            grid-column: 1/-1;
            justify-self: center;
            margin-bottom: 8px;
            
            @include for-mobile{
                max-width: 440px;
            }
        }
    }

    &__subtitle{
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        color: var(--cl-g);
    }

    &__title{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: clamp(14px, 1.3652vw, 16px);
        line-height: 150%;
        color: var(--cl-a);
    }

    &__rating{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color:  var(--cl-g);
        display: flex;
        align-items: center;
        gap: 6px;
        align-self: start;

        svg,img{
            width: 16px;
            height: 16px;
        }
    }

    &__info{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: end;
        grid-gap: 4px clamp(10px, 1.4505vw, 17px);
    }

    &__inner{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: end;
        grid-gap: 4px 10px;

        @include mobile{
            width: fit-content;
            justify-self: end;
        }
    }

    &__logo{
        align-self: center;
        display: flex;
        width: clamp(50px, 5.1195vw, 60px);
        aspect-ratio: 1;
        border-radius: 16px;
        background-color: var(--bg-h);
        overflow: hidden;
        grid-column: 1;
        grid-row: span 2;

        svg,img{
            width: auto;
            height: auto;
        }
    }

    &__pretitle{
        font-family: var(--font-family);
        font-weight: 600;
        font-size: clamp(14px, 1.3652vw, 16px);
        line-height: 150%;
        color: var(--cl-a);
    }

    &__text{
        align-self: start;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        color: var(--cl-d);
    }

    &__icon{
        display: flex;
        width: 20px;
        height: 18px;
        grid-column: 1;
        grid-row: span 2;
        align-self: center;

        svg,img{
            width: 100%;
            height: 100%;
        }
    }

    ul{
        @include mobile{
            grid-column: 1/-1;
        }
    }
}