.main-link{
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 110%;
  color: var(--cl-d);
  display: flex;
  align-items: center;
  grid-gap: 3px;
  transition: all .3s;

  svg,img{
    width: 24px;
    height: 24px;
  }

  &:hover{
    color: var(--cl-a);
  }

  &:active{
    color: var(--cl-e);
  }

  &:disabled{
    color: var(--cl-f);
    opacity: 0.3;
    pointer-events: none;
  }
}

.logo{
  width: clamp(200px, 20.7338vw, 243px);
  height: clamp(15px, 1.4505vw, 17px);

  svg,img{
    width: 100%;
    height: 100%;
  }
}

.slot-link{
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(14px, 1.3652vw, 16px);
  line-height: 150%;
  color: var(--cl-a);
  display: flex;
  align-items: center;
  grid-gap: clamp(5px, .8532vw, 10px);
  transition: all .3s;

  &__icon{
    width: clamp(28px, 2.6451vw, 31px);
    height: clamp(28px, 2.6451vw, 31px);
    border-radius: 100%;
    background: var(--bg-d);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cl-a);
  }

  svg,img{
    width: 24px;
    height: 24px;
  }

  svg{
    fill: transparent;
  }

  &:hover{
    color: var(--cl-d);
  }

  &:active{
    color: var(--cl-e);
  }

  &:disabled{
    color: var(--cl-f);
    opacity: 0.3;
    pointer-events: none;
  }
}

.rating{
  display: flex;
  align-items: center;
  gap: 2px;

  svg,img{
    width: 59px;
    height: 15px;
  }

  &::after{
    content: '('attr(data-value)')';
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 135%;
    color: var(--cl-c);
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}